<h1>My blog</h1>

<% @blog_posts.each do |blog_post| %>
<div>
  <h2><%= link_to blog_post.title, blog_post_path(blog_post) %></li></h2>
  <div>
    <% if blog_post.draft?%>
      <div class="p-2 rounded bg-gray-200 text-gray-900">Draft</div>
      <% elsif blog_post.scheduled?%>
      <div class="p-2 rounded bg-orange-200 text-orange-900">Scheduled</div>
      <% elsif blog_post.published? %>
       <div class="p-2 rounded bg-green-200 text-green-900">Published!</div>
    <% end %>
  </div>
  <p><%= blog_post.content %></li></p>
</div>
<% end %>
